@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Index.cshtml
    **
    **  Description:
    **      Show list of available notefile to import to
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model IEnumerable<Notes2021Blazor.Shared.NoteFile>

@{
    ViewBag.Title = "Import";
}

<h2>Import</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NoteFileName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteFileTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastEdited)
            </td>
            <td>
                @Html.ActionLink("Import", "StartImport", new { id = item.Id })
            </td>
        </tr>
    }

</table>
