@*/*--------------------------------------------------------------------------
    **
    **  Copyright © 2019, Dale Sinder
    **
    **  Name: About.cshtml
    **
    **  Description:
    **      Notes 2020 About page
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@
@{
    ViewData["Title"] = "About Notes 2021";
}
<h2>@ViewData["Message"]</h2>
<p>
    Notes 2021 is a set of forums inspired by the <a href="https://en.wikipedia.org/wiki/PLATO_%28computer_system%29">PLATO</a>
    (later known as NovaNET) communications system.
    The purpose of PLATO was to provide Computer Based Education facilities.
    The origin of PLATO goes back to 1960 at the Computer-based Education Research Lab (CERL) at the University of Illinois.
    By 1973 a need was recognized for a means for users of PLATO to communicate in a durable and structured format.
    At this time David R. Woolley created "lesson" "notes".  Mr. Woolley describes "notes"
    <a href="http://just.thinkofit.com/plato-the-emergence-of-online-community/">here</a>.
    His original implementation remains available on <a href="http://cyber1.org">Cyber1</a>.
</p>

<p>
    "Notes" was rewritten in 1991 at the Computer-based Education Research Lab and on NovaNET.   By this time
    Personal Computers (PCs and MACs) running a program known as "Portal" had replaced many of the original
    dedicated PLATO terminals. The functionality of the "Portal" exceeded that of the original PLATO
    terminals.  "Notes" was showing it's age in a number of ways, some of which were
    related to lack of use of Portal functionality and others related to annoying limits of
    the original notes.  The new "Notes" (notes 2) took advantage of many of the added Portal functionalities.
</p>

<p>
    Notes 2 continued to fucntion through August 31, 2015 at which time the then owner of NovaNET (Pearson Learning)
    shut down NovaNET.
</p>

<p>
    This effort (Notes 2021) is intended to continue the Notes tradition on a new platform.
    Many of the ideas and features of the original PLATO Notes are retained.
    Many of the Notes 2 advances are also retained.  Finally Notes 2021 is updated and
    rewritten again from the ground up to make appropriate use of the Web platform
    rather than a dedicated PLATO terminal or a NovaNET specific protocal Portal program.
</p>

<p>The author of Notes 2021 managed and contributed to the Notes 2 rewrite on NovaNET.</p>
<p>
    A prior effort, 3.0, was written using Microsoft ASP.NET MVC 5. Version 2021 derives
    from 3.0 but uses a new foundation, CORE 3.1.1, which permits greater flexibility.
</p>

<p>
    See also <a href="http://www.platohistory.org/">http://www.platohistory.org/</a> and
    <a href="http://friendlyorangeglow.com/">http://friendlyorangeglow.com/</a>
</p>
<hr />
<a asp-action="SampleImages">See some sample images from NovaNet's Notes</a>
<hr />
<a asp-action="Schema">Notes 2021 Database Schema for the curious</a>
<hr />
<h4>@ViewData["Alive"]</h4>
<h4>@ViewData["Stats"]</h4>
<h4>Primary system administrator:  @Globals.PrimeAdminName - 
    <a href="mailto:@Globals.PrimeAdminEmail">@Globals.PrimeAdminEmail</a></h4>
