@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Details.cshtml
    **
    **  Description:
    **      Show details about a SQLFile
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model Notes2021Blazor.Shared.SQLFile

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>File</h4>
    <hr />

    @{
        string url = "/File/GetById/" + Model.FileId;
    }


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Comments)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Contributor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Contributor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt>
            URL 1
        </dt>
        <dd>
            @*<input id="url1" name="url1" value=@ViewBag.Url1 class="long-input">
                <button class="copy-button1" data-clipboard-target="#url1">
                    Copy to clipboard
                </button>*@
            @ViewBag.Url1 <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Copy" data-clipboard-text=@ViewBag.Url1><img src="~/icons/glyphicons-basic-614-copy.svg" width="25" class="svgwhite" />Copy</button>
        </dd>
        <dt>
            URL 2
        </dt>
        <dd>
            @ViewBag.Url2 <button type="button" class="btn btn-info btn-sm" data-toggle="tooltip" title="Copy" data-clipboard-text=@ViewBag.Url2><img src="~/icons/glyphicons-basic-614-copy.svg" width="25" class="svgwhite" />Copy</button>
        </dd>
    </dl>

    <p><img src="@url" /></p>

    <!-- 1. Define some markup -->
    <!-- 2. Include library -->
    <script src="~/js/clipboard.min.js"></script>

    <!-- 3. Instantiate clipboard by passing a list of HTML elements -->
    <script>
        var btns = document.querySelectorAll('button');
        var clipboard = new Clipboard(btns);
        clipboard.on('success', function (e) {
            console.log(e);
        });
        clipboard.on('error', function (e) {
            console.log(e);
        });
    </script>

</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.FileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>

