@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Index.cshtml
    **
    **  Description:
    **      Show List of SQLFiles
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model IEnumerable<Notes2021Blazor.Shared.SQLFile >

@{
    ViewData["Title"] = "Index";
}

<h2>Files Index</h2>

<p>
    <a asp-action="Create">Upload New</a>  |  <a asp-action="ThumbNails">See All Thumb Nails</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContentType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contributor)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContentType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contributor)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.FileId">Details</a> |
            <a asp-action="Edit" asp-route-id="@item.FileId">Edit</a> |
            <a asp-action="Delete" asp-route-id="@item.FileId">Delete</a>
        </td>
    </tr>
}
</table>
