@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2019, Dale Sinder
    **
    **  Name: Edit.cshtml
    **
    **  Description:
    **      Edit a note
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@using Notes2021Blazor.Shared
@model Notes2021.Models.TextViewModel

@{
    bool isTinymce = ((bool)ViewData["isTinymce"]);

    ViewData["Title"] = "Note Editor";
    NoteFile noteFile = Model.noteFile;
}

<h2>Note Editor - @noteFile.NoteFileName <span>-</span> @noteFile.NoteFileTitle</h2>

@if (isTinymce)
{
    <script type="text/javascript">
tinymce.init({
    selector: "textarea#MyNote",
    theme: "modern",
    browser_spellcheck: true,

    width: 750,
    height: 300,
    max_width: 950,
    max_height: 500,
    resize: 'both',
    plugins: [
         "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker fullscreen",
         "searchreplace wordcount visualblocks visualchars code codesample insertdatetime media nonbreaking",
         "save table contextmenu directionality emoticons paste textcolor tabfocus"
    ],
    content_css: "css/content.css",
    relative_urls: false,
    convert_urls: false,
    contextmenu: "link image inserttable | cell row column deletetable",
    toolbar: "insertfile undo redo | styleselect fontselect fontsizeselect | bold italic underline | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image media codesample | print preview | nonbreaking forecolor backcolor emoticons insertdatetime fullscreen",
    style_formats: [
        {title: 'Bold text', inline: 'b'},
        {title: 'Red text', inline: 'span', styles: {color: '#ff0000'}},
        {title: 'Red header', block: 'h1', styles: {color: '#ff0000'}},
        {title: 'Example 1', inline: 'span', classes: 'example1'},
        {title: 'Example 2', inline: 'span', classes: 'example2'},
        {title: 'Table styles'},
        {title: 'Table row 1', selector: 'tr', classes: 'tablerow1'}
    ]
 });
    </script>

}
<div class="row">
    <div class="col-md-12">
        <section id="testForm">
            @using (Html.BeginForm("Edit", "NoteDisplay", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.HiddenFor(m => m.NoteID)

                <hr />

                <div class="form-group">
                    <strong>Subject</strong><br />
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.MySubject, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <strong>Tags</strong><br />
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.TagLine, new { @class = "form-control" })
                    </div>
                </div>
                <hr />

                <div class="form-group">
                    <strong>Director Message</strong><br />
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.DirectorMessage, new { @class = "form-control" })
                    </div>
                </div>
                <hr />
                <div class="form-group">
                    <strong>Body</strong><br />
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.MyNote, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="ml-md-auto col-md-10">
                        <button type="submit" class="btn btn-info btn-sm" tabindex="4">
                            <img src="~/icons/glyphicons-basic-199-save.svg" width="25" class="svgwhite"/> Save
                        </button>

                        | @*@Html.ActionLink("Cancel", "Display", new { id = Model.NoteID })*@
                        <a asp-action="Display" asp-route-id=@Model.NoteID class="btn btn-primary">Cancel</a>

                    </div>
                </div>
            }
        </section>
    </div>
</div>


