@*/*--------------------------------------------------------------------------
    **
    **  Copyright (c) 2017, Dale Sinder
    **
    **  Name: Index.cshtml
    **
    **  Description:
    **      Index for Data Spy
    **
    **  This program is free software: you can redistribute it and/or modify
    **  it under the terms of the GNU General Public License version 3 as
    **  published by the Free Software Foundation.
    **
    **  This program is distributed in the hope that it will be useful,
    **  but WITHOUT ANY WARRANTY; without even the implied warranty of
    **  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    **  GNU General Public License version 3 for more details.
    **
    **  You should have received a copy of the GNU General Public License
    **  version 3 along with this program in file "license-gpl-3.0.txt".
    **  If not, see <http://www.gnu.org/licenses/gpl-3.0.txt>.
    **
    **--------------------------------------------------------------------------
    */*@

@model IEnumerable<Notes2021Blazor.Shared.NoteFile>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LastEdited)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteFileTitle)
        </th>
        <th></th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LastEdited)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteFileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteFileTitle)
        </td>
        <td>
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Headers" asp-route-id="@item.Id">Headers</a> |
            <a asp-action="Content" asp-route-id="@item.Id">Content</a> |
            <a asp-action="Access" asp-route-id="@item.Id">Access</a>
        </td>
    </tr>
}
</table>
<a asp-action="Marks">Marks</a> |
<a asp-action="Search">Search</a> |
<a asp-action="Sequencer">Sequencer</a> |
<a asp-action="TimeZones">Time Zones</a> |
<a asp-action="Users">Users</a> |
<a asp-action="Audit">Audit</a>  
